
body {
    background-color: #888 ;
}


.menu {
      position: fixed;
      top: 0;
      width: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 100px;
    text-decoration: none;
}

.menu li a:hover {
  background-color: #111;
}


.conteudo {
    padding-top: 80px;
    width: 100%;
}

.conteudo li a{
    display: block;
    color: black;
    text-align: left;
/*    padding: 100px 100px;
    padding-top: 40px ;*/
    text-decoration: none;
    background-color:white;
    border-radius: 8px;
    margin: 5px;
    overflow:auto;
}

.conteudo li a:hover {
  background-color: #e0e0d1;
}

.titulo {
    font-size: 30px;
    padding-left: 20px;
    padding-right:20px;
}

.descricao {
    font-size: 20px;
    padding-right:30px;
    padding-left: 30px;
}

img{
    float: left;
    border-radius: 10%;
    width:20%;
    text-align: left;
    padding: 20px;
}


.pessoa{
    padding:8px;
    color: black;
    background-color: white;
    border-radius: 8px;
    text-align: left;
    overflow:auto;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #333; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #333;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: black;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  margin-top: 80px;
}


a:link{
    color: green;
    text-decoration: none;
}

iframe {
    display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      margin-bottom: 10px;
}

.saibamais {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  margin-top: 80px;
}


.saibamais li{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 100px;
    text-decoration: none;
}

.descricao img{
    padding: 0px;
    background-color: red;
    border-radius: 10%;
    width:7%;
    text-align: left;
}
